/*
* OCC Grid System Components
* Author: Cris Rocha Dev
* Author URI: https://ocodigocris.com
* WebSite Grid: https://ocodigocris.com/occgridsystem
* Documentation: https://ocodigocris.com/occgridsystem/pages/docs
*/
:root{
	/*Colors*/
		--primarycolor:#351515;
		--secondarycolor:#ddd;
		--maincolor:#414141;
		--bordercolor:#ccc;
		--boxshadowcolor:#00000030;
		--bgdarkcolor:#111111;
		--bglightcolor:#F3EBEB;
		--textcolor:#424242;
		--h1color:#111111;
		--h2color:#111111;
		--h3color:#111111;
		--h4color:#111111;
		--h5color:#111111;
		--h6color:#111111;
		--alertcolor:#FBE02A;
		--dangercolor:#EF1515;
		--successcolor:#4CA91A;
	/*Font Sizes */
		--fonttextsize:14px;
		--fonth1size:30px;
		--fonth2size:28px;
		--fonth3size:24px;
		--fonth4size:22px;
		--fonth5size:20px;
		--fonth6size:18px;
	/* Font Families */
		--primaryfont:'Montserrat';
		--secondaryfont:'Montserrat';
		--mainfont:'Montserrat';
}



/*--- Navgation ----*/
.navgation{
	width:100%;
	padding:5px;
}
body{
	font-size: var(--fonttextsize);
	color:var(--textcolor);
	background:var(--bglightcolor);
	font-family: var(--primaryfont);
	overflow-x: hidden;
}
h1{
	color:var(--h1color);
	font-size:var(--fonth1size);
	line-height: 1em;
}
h2{
	color:var(--h2color);
	font-size:var(--fonth2size);
	line-height: 1em;
}
h3{
	color:var(--h3color);
	font-size:var(--fonth3size);
	line-height: 1em;
}
h4{
	color:var(--h4color);
	font-size:var(--fonth4size);
	line-height: 1em;
}
h5{
	color:var(--h5color);
	font-size:var(--fonth5size);
	line-height: 1em;
}
h6{
	color:var(--h6color);
	font-size:var(--fonth6size);
	line-height: 1em;
}
img{
	max-width:100%;
}
[data-font="main-font"]{
	font-family: var(--mainfont);
}
[data-font="primary-font"]{
	font-family: var(--primaryfont);
}

[data-font="secondary-font"]{
	font-family: var(--secondaryfont);
}
[data-color="primary-color"]{
	color:var(--primarycolor);
}
[data-color="secondary-color"]{
	color:var(--secondarycolor);
}
[data-color="main-color"]{
	color:var(--maincolor);
}

/*------------------------------------------------
				COMPONENTS
--------------------------------------------------*/

/* navbar */
.occ-navbar-1{
	height:50px;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size:1em;
}
.occ-navbar-1 h1,
.occ-navbar-1 h2,
.occ-navbar-1 h3,
.occ-navbar-1 p{
	padding-left: 10px;
	font-size: 18px;
	font-weight: 900;
	color:var(--primarycolor);
}
.occ-navbar-1 img{
	max-height:30px;
}
.occ-navbar-1 .brand-1{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.occ-navbar-1 .menu{
	list-style: none;
	width:85%;
	background:var(--bglightcolor);
	box-shadow: 0 4px 200px var(--boxshadowcolor);
	height:100vh;
	position: fixed;
	padding-left: 10px;
	top:0;
	left:-101%;
	padding:50px 10px 10px;
	display: flex;
	justify-content: flex-start;
	align-items: start;
	flex-direction: column;
	transition:0.3s;
	z-index: 999;
}
.occ-navbar-1 .menu-show{
	left:0;
	z-index:999999999999;
}
.occ-navbar-1 .menu li{
	display: block;
	width:100%;
	margin:2px 0;
	position: relative;
	color:var(--maincolor);
	font-weight: 700;
	height:30px;
	padding-left: 10px;
}
.occ-navbar-1 .menu li.with-children{
	height:30px;
	justify-content:  center;
	display: flex;
	flex-direction: column;
	margin-left:10px;
	padding-left: 0;
	cursor:pointer;
}
.occ-navbar-1 .menu li .sub-menu{
	margin-top:10px;
	height:0;
	visibility: hidden;
	top:20px;
	transition:0.3s;
	position: relative;
}
.occ-navbar-1 .menu li .sub-menu-show{
	margin-top:10px;
	height:auto;
	visibility: visible;
	top:0;
	margin-bottom: 10px;
}
.occ-navbar-1 .menu li .sub-menu li{
	
}
.occ-navbar-1 .menu li a{
	display: block;
	width:100%;
	height:100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration:none;
	color:var(--maincolor);
	font-weight: 700;
	position: relative;
}
.occ-navbar-1 .menu li a.active:after,
.occ-navbar-1 .menu li.with-children:before,
.occ-navbar-1 .menu li a:after{
	content:"";
	display: block;
	width:0;
	height:2px;
	background:var(--primarycolor);
	position:absolute;
	left:0;
	bottom:0;
	transition:0.3s;
}
.occ-navbar-1 .menu li a.active:after,
.occ-navbar-1 .menu li.with-children:hover:before,
.occ-navbar-1 .menu li a:hover:after{
	width:30px;
}
.occ-navbar-1 .menu li.with-children:after{
	content:"+";
	display:block;
	position: absolute;
	font-size:1.2em;
	font-weight: 800;
	top:10px;
	transform:translateY(-50%);
	right:10px;
}
.occ-navbar-1 .menu li a{

}

.menu-toggle-1{
	width:20px;
	height:20px;
	position: relative;
	z-index: 9999;
	margin:0 5px;
	position: relative;
	cursor: pointer;
}
.menu-toggle-1 span{
	width:20px;
	height:3px;
	background: var(--maincolor);
	display: block;
	position: absolute;
	transition:0.3s;
	top:10px;
}
.menu-toggle-1 span:before,
.menu-toggle-1 span:after{
	content:"";
	width:20px;
	height:3px;
	background: var(--maincolor);
	display: block;
	position: absolute;
	transition:0.3s;
}
.menu-toggle-1 span:before{
	top:-6px;
}
.menu-toggle-1 span:after{
	bottom:-6px;
}
.menu-toggle-1-close span{
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.menu-toggle-1-close span:before{
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
	        top:0;
}
.menu-toggle-1-close span:after{
	bottom:0;
}
.occ-navbar-1 .menu-show{
	left:0;
}
.menu_search{
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}

.search-1 .search{
	display:flex;
	position:absolute;
	top:-101%;
	left:0;
	background: #fff;
	width:100%;
	height:50px;
	z-index: 9999;
	justify-content: flex-start;
	padding-left: 5%;
	align-items: center;
	transition:0.3s;
}
.search-1 .search input[type=search],
.search-1 .search input[type=text]{
	width:60%;
	height:30px;
	background: transparent;
	outline: none;
	border:1px solid var(--bordercolor);
	border-radius:3px 0 0 3px;
	color:var(--textcolor);
	padding:0 10px;
	font-size:1em;
}
.search-1 .search input[type=search]:focus{
	outline: none;
}
.search-1 .search input[type=search]::-webkit-input-placeholder,
.search-1 .search input[type=text]::-webkit-input-placeholder  { 
	color:var(--textcolor) 
}
.search-1 .search input[type=search]:-moz-placeholder,
.search-1 .search input[type=text]:-moz-placeholder {
 color:var(--textcolor) 
}
.search-1 .search input[type=submit],
.search-1 .search input[type=button],
.search-1 .search button{
	width:20%;
	height:30px;
	background: transparent;
	outline: none;
	border:1px solid var(--bordercolor);
	background: var(--bordercolor);
	border-radius:0 3px 3px 0;
	color:var(--textcolor);
	padding:0 10px;
	font-size:1em;
}
.search-1  .search-show{
	top:0;
}
.search-1 .search-toggle{
	width:20px;
	height:20px;
	position: relative;
	margin:0 5px;
}
.search-1 .search-toggle span{
	width:15px;
	height:15px;
	display: block;
	border:4px solid var(--maincolor);
	border-radius:100%;
	position: absolute;
	right:3px;
	top:3px;
}
.search-1 .search-toggle span:before{
	content:"";
	width:8px;
	height:5px;
	display: block;
	position: absolute;
	bottom: -6px;
    left: -7px;
    border-radius: 3px;
	transform:rotate(-45deg);
	background:var(--maincolor);
	transition:0.3s;
}
.search-toggle-1-close{
	width:20px !important;
	height:20px !important;
	border:2px solid var(--maincolor) !important;
	display: block;
	border-radius:100%;
	transition:0.3s;
	position: absolute !important;
	right:5% !important;
	top:50% !important;
	-webkit-transform: translateY(-50%) !important;
	   -moz-transform: translateY(-50%) !important;
	    -ms-transform: translateY(-50%) !important;
	     -o-transform: translateY(-50%) !important;
	        transform: translateY(-50%) !important;
	z-index:99999;
}
.search-toggle-1-close span{
	width:10px !important;
	height:3px !important;
	border-radius:0 !important;
	border:none !important;
	background:var(--maincolor);
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	margin-top:25%;
	transition:0.3s;
}
.search-toggle-1-close span:before{
	width:10px !important;
	height:3px !important;
	border-radius:0 !important;
	border:none !important;
	background:var(--maincolor);
	-webkit-transform: rotate(-90deg) !important;
	   -moz-transform: rotate(-90deg) !important;
	    -ms-transform: rotate(-90deg) !important;
	     -o-transform: rotate(-90deg) !important;
	        transform: rotate(-90deg) !important;
	bottom:auto !important;
	left:0 !important;
	top:0 !important;
	transition:0.3s;
}
@media (min-width:900px){
	.menu-toggle-1{
		display:none;
	}
	.occ-navbar-1{
		justify-content: flex-start;
	}
	.menu_search{
		display: flex;
		justify-content: flex-end;
		width:70%;
		align-items: center;
		height:100%;
		margin-left:10px;
	}
	.occ-navbar-1 .menu{
		list-style: none;
		margin:0 10px;
		width:auto;
		background:transparent;
		box-shadow: none;
		height:auto;
		position: static;
		padding:0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: row;
		transition:0.3s;
		z-index: 999;
	}
	.occ-navbar-1 .menu li + li{
		margin-left:15px;
	}
	.occ-navbar-1 .menu li.with-children{
			margin:0 0 0 20px;
	}
	.occ-navbar-1 .menu li.with-children:after{
		content:"+";
		display:block;
		position: absolute;
		font-size:1.2em;
		font-weight: 800;
		top:15px;
		transform:translateY(-50%);
		right:-15px;
	}
	.occ-navbar-1 .menu li .sub-menu{
		background:var(--secondarycolor);
		position:absolute;
		top:60px;
		padding:10px;
		transition:all .3s;
		margin-top:0;
		height:auto;
		opacity:0;
	}
	.occ-navbar-1 .menu li .sub-menu-show{
		top:40px;
		opacity:1;
		margin-top:0;
	}
	.occ-navbar-1 .menu li .sub-menu li{
		margin-left:0;
	}
	
}

/* Button */
.button{
	margin:1%;
	display:inline-block;
	width:auto;
	height:auto;
	border:none;
	border-radius:3px;
	background:var(--maincolor);
	border:1px solid var(--maincolor);
	padding:10px 20px;
	text-align:center;
	font-size:1em;
	line-height: 1em;
	text-decoration: none;
	color:var(--secondarycolor);
	font-weight: 700;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
	transition:.3s;
	cursor:pointer;
}
.button a{
	font-size:1em;
	line-height: 1em;
	text-decoration: none;
	color:var(--secondarycolor);
	font-weight: 700;
}
.button:hover{
	-webkit-transform: scale(1,1.1);
	   -moz-transform: scale(1,1.1);
	    -ms-transform: scale(1,1.1);
	     -o-transform: scale(1,1.1);
	        transform: scale(1,1.1);
}
.button:focus{
	outline: none;
	-webkit-transform: scale(0.9,0.9);
	   -moz-transform: scale(0.9,0.9);
	    -ms-transform: scale(0.9,0.9);
	     -o-transform: scale(0.9,0.9);
	        transform: scale(0.9,0.9);
}
.button.alert{
	border:1px solid var(--alertcolor);
	background: var(--alertcolor)!important;
	color:var(--maincolor) !important;
}
.button.alert a{
	color:var(--maincolor) !important;
}
.button.danger{
	border:1px solid var(--dangercolor);
	background: var(--dangercolor)!important;
}
.button.success{
	background: var(--successcolor)!important;
	border:1px solid var(--successcolor);
}
.button.simple{
	border:1px solid var(--maincolor) !important;
	background: transparent !important;
	color: var(--maincolor) !important;
}
.button.simple a{
	color: var(--maincolor) !important;
}
.button.simple.danger{
	border:1px solid var(--dangercolor) !important;
	background: transparent !important;
	color: var(--dangercolor) !important;
}
.button.simple.danger a{
	color: var(--dangercolor) !important;
}
.button.simple.alert{
	border:1px solid var(--alertcolor) !important;
	background: transparent !important;
	color: var(--alertcolor) !important;
}
.button.simple.alert a{
	color: var(--alertcolor) !important;
}
.button.simple.success{
	border:1px solid var(--successcolor) !important;
	background: transparent !important;
	color: var(--successcolor) !important;
}
.button.simple.success a{
	color: var(--successcolor) !important;
}