/*
* OCC Grid System
* Author: Cris Rocha Dev
* Author URI: https://ocodigocris.com
* WebSite Grid: https://ocodigocris.com/occgridsystem
* Documentation: https://ocodigocris.com/occgridsystem/pages/docs
*/
*{
    margin:0;
    padding:0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* ----------------------------------------
               Measures
------------------------------------------- */

/* Width */
.w-05{
    width:05%;
}
.w-1{
    width:10%;
}
.w-2{
    width:20%;
}
.w-3{
    width:30%;
}
.w-4{
    width:40%;
}
.w-5{
    width:50%;
}
.w-6{
    width:60%;
}
.w-7{
    width:70%;
}
.w-8{
    width:80%;
}
.w-9{
    width:90%;
}
.w-10{
    width:100%;
}
.w-05w{
    width:05vw;
}
.w-1w{
    width:10vw;
}
.w-2w{
    width:20vw;
}
.w-3w{
    width:30vw;
}
.w-4w{
    width:40vw;
}
.w-5w{
    width:50vw;
}
.w-6w{
    width:60vw;
}
.w-7w{
    width:70vw;
}
.w-8w{
    width:80vw;
}
.w-9w{
    width:90vw;
}
.w-10w{
    width:100vw;
}
.w-05p{
    width:05px;
}
.w-1p{
    width:10px;
}
.w-2p{
    width:20px;
}
.w-3p{
    width:30px;
}
.w-4p{
    width:40px;
}
.w-5p{
    width:50px;
}
.w-6p{
    width:60px;
}
.w-7p{
    width:70px;
}
.w-8p{
    width:80px;
}
.w-9p{
    width:90px;
}
.w-10p{
    width:100px;
}
/* Height */
.h-05{
    height:05%;
}
.h-1{
    height:10%;
}
.h-2{
    height:20%;
}
.h-3{
    height:30%;
}
.h-4{
    height:40%;
}
.h-5{
    height:50%;
}
.h-6{
    height:60%;
}
.h-7{
    height:70%;
}
.h-8{
    height:80%;
}
.h-9{
    height:90%;
}
.h-10{
    height:100%;
}
.h-05h{
    height:05vh;
}
.h-1h{
    height:10vh;
}
.h-2h{
    height:20vh;
}
.h-3h{
    height:30vh;
}
.h-4h{
    height:40vh;
}
.h-5h{
    height:50vh;
}
.h-6h{
    height:60vh;
}
.h-7h{
    height:70vh;
}
.h-8h{
    height:80vh;
}
.h-9h{
    height:90vh;
}
.h-10h{
    height:100vh;
}
.h-05p{
    height:05px;
}
.h-1p{
    height:10px;
}
.h-2p{
    height:20px;
}
.h-3p{
    height:30px;
}
.h-4p{
    height:40px;
}
.h-5p{
    height:50px;
}
.h-6p{
    height:60px;
}
.h-7p{
    height:70px;
}
.h-8p{
    height:80px;
}
.h-9p{
    height:90px;
}
.h-10p{
    height:100px;
}

/* Margin */

.mx-auto{
    margin-left:auto;
    margin-right:auto;
}
.my-auto{
    margin-top:auto;
    margin-bottom:auto;
}
.m-0{
    margin:0;
}
.m-1{
    margin:10px;
}
.m-2{
    margin:20px;
}
.m-3{
    margin:30px;
}
.m-4{
    margin:40px;
}
.m-5{
    margin:50px;
}
.m-6{
    margin:60px;
}
.m-7{
    margin:70px;
}
.m-8{
    margin:80px;
}
.m-9{
    margin:90px;
}
.m-10{
    margin:100px;
}
.mt-0{
    margin-top:0;
}
.mt-1{
    margin-top:10px;
}
.mt-2{
    margin-top:20px;
}
.mt-3{
    margin-top:30px;
}
.mt-4{
    margin-top:40px;
}
.mt-5{
    margin-top:50px;
}
.mt-6{
    margin-top:60px;
}
.mt-7{
    margin-top:70px;
}
.mt-8{
    margin-top:80px;
}
.mt-9{
    margin-top:90px;
}
.mt-10{
    margin-top:100px;
}
.mb-0{
    margin-bottom:0;
}
.mb-1{
    margin-bottom:10px;
}
.mb-2{
    margin-bottom:20px;
}
.mb-3{
    margin-bottom:30px;
}
.mb-4{
    margin-bottom:40px;
}
.mb-5{
    margin-bottom:50px;
}
.mb-6{
    margin-bottom:60px;
}
.mb-7{
    margin-bottom:70px;
}
.mb-8{
    margin-bottom:80px;
}
.mb-9{
    margin-bottom:90px;
}
.mb-10{
    margin-bottom:100px;
}
.ml-0{
    margin-left:0;
}
.ml-1{
    margin-left:10px;
}
.ml-2{
    margin-left:20px;
}
.ml-3{
    margin-left:30px;
}
.ml-4{
    margin-left:40px;
}
.ml-5{
    margin-left:50px;
}
.ml-6{
    margin-left:60px;
}
.ml-7{
    margin-left:70px;
}
.ml-8{
    margin-left:80px;
}
.ml-9{
    margin-left:90px;
}
.ml-10{
    margin-left:100px;
}
.mr-0{
    margin-right:0;
}
.mr-1{
    margin-right:10px;
}
.mr-2{
    margin-right:20px;
}
.mr-3{
    margin-right:30px;
}
.mr-4{
    margin-right:40px;
}
.mr-5{
    margin-right:50px;
}
.mr-6{
    margin-right:60px;
}
.mr-7{
    margin-right:70px;
}
.mr-8{
    margin-right:80px;
}
.mr-9{
    margin-right:90px;
}
.mr-10{
    margin-right:100px;
}
.mx-0{
    margin-right:0;
    margin-left:0;
}
.mx-1{
    margin-right:10px;
    margin-left:10px;
}
.mx-2{
    margin-right:20px;
    margin-left:20px;
}
.mx-3{
    margin-right:30px;
    margin-left:30px;
}
.mx-4{
    margin-right:40px;
    margin-left:40px;
}
.mx-5{
    margin-right:50px;
    margin-left:50px;
}
.mx-6{
    margin-right:60px;
    margin-left:60px;
}
.mx-7{
    margin-right:70px;
    margin-left:70px;
}
.mx-8{
    margin-right:80px;
    margin-left:80px;
}
.mx-9{
    margin-right:90px;
    margin-left:90px;
}
.mx-10{
    margin-right:100px;
    margin-left:100px;
}
.my-0{
    margin-top:0;
    margin-bottom:0;
}
.my-1{
    margin-top:10px;
    margin-bottom:10px;
}
.my-2{
    margin-top:20px;
    margin-bottom:20px;
}
.my-3{
    margin-top:30px;
    margin-bottom:30px;
}
.my-4{
    margin-top:40px;
    margin-bottom:40px;
}
.my-5{
    margin-top:50px;
    margin-bottom:50px;
}
.my-6{
    margin-top:60px;
    margin-bottom:60px;
}
.my-7{
    margin-top:70px;
    margin-bottom:70px;
}
.my-8{
    margin-top:80px;
    margin-bottom:80px;
}
.my-9{
    margin-top:90px;
    margin-bottom:90px;
}
.my-10{
    margin-top:100px;
    margin-bottom:100px;
}
/* Margin */

.px-auto{
    padding-left:auto;
    padding-right:auto;
}
.py-auto{
    padding-top:auto;
    padding-bottom:auto;
}
.p-0{
    padding:0;
}
.p-1{
    padding:10px;
}
.p-2{
    padding:20px;
}
.p-3{
    padding:30px;
}
.p-4{
    padding:40px;
}
.p-5{
    padding:50px;
}
.p-6{
    padding:60px;
}
.p-7{
    padding:70px;
}
.p-8{
    padding:80px;
}
.p-9{
    padding:90px;
}
.p-10{
    padding:100px;
}
.pt-0{
    padding-top:0;
}
.pt-1{
    padding-top:10px;
}
.pt-2{
    padding-top:20px;
}
.pt-3{
    padding-top:30px;
}
.pt-4{
    padding-top:40px;
}
.pt-5{
    padding-top:50px;
}
.pt-6{
    padding-top:60px;
}
.pt-7{
    padding-top:70px;
}
.pt-8{
    padding-top:80px;
}
.pt-9{
    padding-top:90px;
}
.pt-10{
    padding-top:100px;
}
.pb-0{
    padding-bottom:0;
}
.pb-1{
    padding-bottom:10px;
}
.pb-2{
    padding-bottom:20px;
}
.pb-3{
    padding-bottom:30px;
}
.pb-4{
    padding-bottom:40px;
}
.pb-5{
    padding-bottom:50px;
}
.pb-6{
    padding-bottom:60px;
}
.pb-7{
    padding-bottom:70px;
}
.pb-8{
    padding-bottom:80px;
}
.pb-9{
    padding-bottom:90px;
}
.pb-10{
    padding-bottom:100px;
}
.pl-0{
    padding-left:0;
}
.pl-1{
    padding-left:10px;
}
.pl-2{
    padding-left:20px;
}
.pl-3{
    padding-left:30px;
}
.pl-4{
    padding-left:40px;
}
.pl-5{
    padding-left:50px;
}
.pl-6{
    padding-left:60px;
}
.pl-7{
    padding-left:70px;
}
.pl-8{
    padding-left:80px;
}
.pl-9{
    padding-left:90px;
}
.pl-10{
    padding-left:100px;
}
.pr-0{
    padding-right:0;
}
.pr-1{
    padding-right:10px;
}
.pr-2{
    padding-right:20px;
}
.pr-3{
    padding-right:30px;
}
.pr-4{
    padding-right:40px;
}
.pr-5{
    padding-right:50px;
}
.pr-6{
    padding-right:60px;
}
.pr-7{
    padding-right:70px;
}
.pr-8{
    padding-right:80px;
}
.pr-9{
    padding-right:90px;
}
.pr-10{
    padding-right:100px;
}
.px-0{
    padding-right:0;
    padding-left:0;
}
.px-1{
    padding-right:10px;
    padding-left:10px;
}
.px-2{
    padding-right:20px;
    padding-left:20px;
}
.px-3{
    padding-right:30px;
    padding-left:30px;
}
.px-4{
    padding-right:40px;
    padding-left:40px;
}
.px-5{
    padding-right:50px;
    padding-left:50px;
}
.px-6{
    padding-right:60px;
    padding-left:60px;
}
.px-7{
    padding-right:70px;
    padding-left:70px;
}
.px-8{
    padding-right:80px;
    padding-left:80px;
}
.px-9{
    padding-right:90px;
    padding-left:90px;
}
.px-10{
    padding-right:100px;
    padding-left:100px;
}
.py-0{
    padding-top:0;
    padding-bottom:0;
}
.py-1{
    padding-top:10px;
    padding-bottom:10px;
}
.py-2{
    padding-top:20px;
    padding-bottom:20px;
}
.py-3{
    padding-top:30px;
    padding-bottom:30px;
}
.py-4{
    padding-top:40px;
    padding-bottom:40px;
}
.py-5{
    padding-top:50px;
    padding-bottom:50px;
}
.py-6{
    padding-top:60px;
    padding-bottom:60px;
}
.py-7{
    padding-top:70px;
    padding-bottom:70px;
}
.py-8{
    padding-top:80px;
    padding-bottom:80px;
}
.py-9{
    padding-top:90px;
    padding-bottom:90px;
}
.py-10{
    padding-top:100px;
    padding-bottom:100px;
}

/* ----------------------------------------
               Align
------------------------------------------- */

.text-a-center{
    text-align: center;
}
.text-a-left{
    text-align: left;
}
.text-a-right{
    text-align: right;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.float-none{
    float:none;
}
.clear-none{
    clear: none;
}
.clear-left{
    clear: left;
}
.clear-right{
    clear: right;
}
.clear-both{
    clear: both;
}
.clear-inherit{
    clear: inherit;
}

/* ----------------------------------------
               Displays
------------------------------------------- */
.block{
    display: block;
}
.none{
    display: none;
}
.table{
    display: table;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
/* --------------------------------------------------
-----------------------------------------------------
                OCC GRID SYSTEM
-----------------------------------------------------
-------------------------------------------------- */
.con{
    width:100vw;
    padding:0 5%;
    box-sizing: border-box;
    z-index:99;
}
.row{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.row{
    margin-bottom:0.41%;
}

.col {
  box-sizing: border-box;
  margin:3px;
}
.col-1 {
  width:calc(8.3333% - 6px);
}
.col-2{
    width:calc(16.6666% - 6px);
}
.col-3{
    width:calc(24.999% - 6px);
}
.col-4{
    width:calc(33.3323% - 6px);
}
.col-5{
    width:calc(41.6656% - 6px);
}
.col-6{
    width:calc(49.9989% - 6px);
}
.col-7{
    width:calc(58.3331% - 6px);
}
.col-8{
    width:calc(66.6664% - 6px);
}
.col-9{
    width:calc(74.9997% - 6px);
}
.col-10{
    width:calc(83.3333% - 6px);
}
.col-11{
    width:calc(91.6663% - 6px);
}
.col-12{
    width:calc(99.9996% - 6px);
}


/* --------------------------------------------------
-----------------------------------------------------
                GRID LAYOUT
-----------------------------------------------------
-------------------------------------------------- */
.grid-inline{
    display: inline-grid;
}
.grid-j-center{
    justify-content: center;
}
.grid-j-start{
    justify-content: start;
}
.grid-j-end{
    justify-content: end;
}
.grid-j-center{
    justify-content: center;
}
.grid-j-stretch{
    justify-content: stretch;
}
.grid-j-around{
    justify-content: space-around;
}
.grid-j-between{
    justify-content: space-between;
}
.grid-j-evenly{
    justify-content: space-evenly;
}
.grid-a-cont-start{
    align-content: start;
}
.grid-a-cont-end{
    align-content: end;
}
.grid-a-cont-center{
    align-content: center;
}
.grid-a-cont-stretch{
    align-content: stretch;
}
.grid-cont-around{
    align-content: space-around;
}
.grid-cont-between{
    align-content: space-between;
}
.grid-cont-evenly{
    align-content: space-evenly;
}
.grid-j-items-start{
    justify-items: start;
}
.grid-j-items-end{
    justify-items: end;
}
.grid-j-items-center{
    justify-items: center;
}
.grid-j-items-strech{
    justify-items: stretch;
}
.grid-a-start{
    align-items: start;
}
.grid-a-end{
    align-items: end;
}
.grid-a-center{
    align-items: center;
}
.grid-a-stretch{
    align-items: stretch;
}
.grid-j-self-start{
    justify-self: start;
}
.grid-j-self-end{
    justify-self: end;
}
.grid-j-self-center{
    justify-self: center;
}
.grid-j-self-stretch{
    justify-self: stretch;
}
.grid-a-self-start{
    align-self: start;
}
.grid-a-self-end{
    align-self: end;
}
.grid-a-self-center{
    align-self: center;
}
.grid-a-self-stretch{
    align-self: stretch;
}
/*Template Columns*/
.grid-tc-col-1{
    grid-template-columns: 1fr;
}
.grid-tc-col-2{
    grid-template-columns: repeat(2,1fr);
}
.grid-tc-col-3{
    grid-template-columns: repeat(3,1fr);
}
.grid-tc-col-4{
    grid-template-columns: repeat(4,1fr);
}
.grid-tc-col-5{
    grid-template-columns: repeat(5,1fr);
}
.grid-tc-col-6{
    grid-template-columns: repeat(6,1fr);
}
.grid-tc-col-7{
    grid-template-columns: repeat(7,1fr);
}
.grid-tc-col-8{
    grid-template-columns: repeat(8,1fr);
}
.grid-tc-col-9{
    grid-template-columns: repeat(9,1fr);
}
.grid-tc-col-10{
    grid-template-columns: repeat(10,1fr);
}
.grid-tc-col-11{
    grid-template-columns: repeat(11,1fr);
}
.grid-tc-col-12{
    grid-template-columns: repeat(12,1fr);
}
/* template rows */
.grid-tc-row-1{
    grid-template-rows: 1fr;
}
.grid-tc-row-2{
    grid-template-rows: repeat(2,1fr);
}
.grid-tc-row-3{
    grid-template-rows: repeat(3,1fr);
}
.grid-tc-row-4{
    grid-template-rows: repeat(4,1fr);
}
.grid-tc-row-5{
    grid-template-rows: repeat(5,1fr);
}
.grid-tc-row-6{
    grid-template-rows: repeat(6,1fr);
}
.grid-tc-row-7{
    grid-template-rows: repeat(7,1fr);
}
.grid-tc-row-8{
    grid-template-rows: repeat(8,1fr);
}
.grid-tc-row-9{
    grid-template-rows: repeat(9,1fr);
}
.grid-tc-row-10{
    grid-template-rows: repeat(10,1fr);
}
.grid-tc-row-11{
    grid-template-rows: repeat(11,1fr);
}
.grid-tc-row-12{
    grid-template-rows: repeat(12,1fr);
}

/*column*/

.grid-col-1{
    grid-column:1;
}
.grid-col-2{
    grid-column:2;
}
.grid-col-3{
    grid-column:3;
}
.grid-col-4{
    grid-column:4;
}
.grid-col-5{
    grid-column:5;
}
.grid-col-6{
    grid-column:6;
}
.grid-col-7{
    grid-column:7;
}
.grid-col-8{
    grid-column:8;
}
.grid-col-9{
    grid-column:9;
}
.grid-col-10{
    grid-column:10;
}
.grid-col-11{
    grid-column:11;
}
.grid-col-12{
    grid-column:12;
}

.grid-col-1-3{
    grid-column: 1/3;
}
.grid-col-1-4{
    grid-column: 1/4;
}
.grid-col-1-5{
    grid-column: 1/5;
}
.grid-col-1-6{
    grid-column: 1/6;
}
.grid-col-1-7{
    grid-column: 1/7;
}
.grid-col-1-8{
    grid-column: 1/8;
}
.grid-col-1-9{
    grid-column: 1/9;
}
.grid-col-1-10{
    grid-column: 1/10;
}
.grid-col-1-11{
    grid-column: 1/11;
}
.grid-col-1-12{
    grid-column: 1/12;
}
.grid-col-1-13{
    grid-column: 1/13;
}

.grid-col-2-4{
    grid-column: 2/4;
}
.grid-col-2-5{
    grid-column: 2/5;
}
.grid-col-2-6{
    grid-column: 2/6;
}
.grid-col-2-7{
    grid-column: 2/7;
}
.grid-col-2-8{
    grid-column: 2/8;
}
.grid-col-2-9{
    grid-column: 2/9;
}
.grid-col-2-10{
    grid-column: 2/10;
}
.grid-col-2-11{
    grid-column: 2/11;
}
.grid-col-2-12{
    grid-column: 2/12;
}
.grid-col-2-13{
    grid-column: 2/13;
}

.grid-col-3-5{
    grid-column: 3/5;
}
.grid-col-3-6{
    grid-column: 3/6;
}
.grid-col-3-7{
    grid-column: 3/7;
}
.grid-col-3-8{
    grid-column: 3/8;
}
.grid-col-3-9{
    grid-column: 3/9;
}
.grid-col-3-10{
    grid-column: 3/10;
}
.grid-col-3-11{
    grid-column: 3/11;
}
.grid-col-3-12{
    grid-column: 3/12;
}
.grid-col-3-13{
    grid-column: 3/13;
}

.grid-col-3-5{
    grid-column: 3/5;
}
.grid-col-3-6{
    grid-column: 3/6;
}
.grid-col-3-7{
    grid-column: 3/7;
}
.grid-col-3-8{
    grid-column: 3/8;
}
.grid-col-3-9{
    grid-column: 3/9;
}
.grid-col-3-10{
    grid-column: 3/10;
}
.grid-col-3-11{
    grid-column: 3/11;
}
.grid-col-3-12{
    grid-column: 3/12;
}
.grid-col-3-13{
    grid-column: 3/13;
}

.grid-col-4-6{
    grid-column: 4/6;
}
.grid-col-4-7{
    grid-column: 4/7;
}
.grid-col-4-8{
    grid-column: 4/8;
}
.grid-col-4-9{
    grid-column: 4/9;
}
.grid-col-4-10{
    grid-column: 4/10;
}
.grid-col-4-11{
    grid-column: 4/11;
}
.grid-col-4-12{
    grid-column: 4/12;
}
.grid-col-4-13{
    grid-column: 4/13;
}
.grid-col-5-7{
    grid-column: 5/7;
}
.grid-col-5-8{
    grid-column: 5/8;
}
.grid-col-5-9{
    grid-column: 5/9;
}
.grid-col-5-10{
    grid-column: 5/10;
}
.grid-col-5-11{
    grid-column: 5/11;
}
.grid-col-5-12{
    grid-column: 5/12;
}
.grid-col-5-13{
    grid-column: 5/13;
}

.grid-col-6-8{
    grid-column: 6/8;
}
.grid-col-6-9{
    grid-column: 6/9;
}
.grid-col-6-10{
    grid-column: 6/10;
}
.grid-col-6-11{
    grid-column: 6/11;
}
.grid-col-6-12{
    grid-column: 6/12;
}
.grid-col-6-13{
    grid-column: 6/13;
}
.grid-col-7-9{
    grid-column: 7/9;
}
.grid-col-7-10{
    grid-column: 7/10;
}
.grid-col-7-11{
    grid-column: 7/11;
}
.grid-col-7-12{
    grid-column: 7/12;
}
.grid-col-7-13{
    grid-column: 7/13;
}
.grid-col-8-10{
    grid-column: 8/10;
}
.grid-col-8-11{
    grid-column: 8/11;
}
.grid-col-8-12{
    grid-column: 8/12;
}
.grid-col-8-13{
    grid-column: 8/13;
}
.grid-col-9-10{
    grid-column: 9/10;
}
.grid-col-9-11{
    grid-column: 9/11;
}
.grid-col-9-12{
    grid-column: 9/12;
}
.grid-col-9-13{
    grid-column: 9/13;
}
.grid-col-9-11{
    grid-column: 9/11;
}
.grid-col-9-12{
    grid-column: 9/12;
}
.grid-col-9-13{
    grid-column: 9/13;
}
.grid-col-10-12{
    grid-column: 10/12;
}
.grid-col-10-13{
    grid-column: 10/13;
}
.grid-col-11-13{
    grid-column: 11/13;
}
/*row*/

.grid-row-1{
    grid-row:1;
}
.grid-row-2{
    grid-row:2;
}
.grid-row-3{
    grid-row:3;
}
.grid-row-4{
    grid-row:4;
}
.grid-row-5{
    grid-row:5;
}
.grid-row-6{
    grid-row:6;
}
.grid-row-7{
    grid-row:7;
}
.grid-row-8{
    grid-row:8;
}
.grid-row-9{
    grid-row:9;
}
.grid-row-10{
    grid-row:10;
}
.grid-row-11{
    grid-row:11;
}
.grid-row-12{
    grid-row:12;
}

.grid-row-1-3{
    grid-row: 1/3;
}
.grid-row-1-4{
    grid-row: 1/4;
}
.grid-row-1-5{
    grid-row: 1/5;
}
.grid-row-1-6{
    grid-row: 1/6;
}
.grid-row-1-7{
    grid-row: 1/7;
}
.grid-row-1-8{
    grid-row: 1/8;
}
.grid-row-1-9{
    grid-row: 1/9;
}
.grid-row-1-10{
    grid-row: 1/10;
}
.grid-row-1-11{
    grid-row: 1/11;
}
.grid-row-1-12{
    grid-row: 1/12;
}
.grid-row-1-13{
    grid-row: 1/13;
}

.grid-row-2-4{
    grid-row: 2/4;
}
.grid-row-2-5{
    grid-row: 2/5;
}
.grid-row-2-6{
    grid-row: 2/6;
}
.grid-row-2-7{
    grid-row: 2/7;
}
.grid-row-2-8{
    grid-row: 2/8;
}
.grid-row-2-9{
    grid-row: 2/9;
}
.grid-row-2-10{
    grid-row: 2/10;
}
.grid-row-2-11{
    grid-row: 2/11;
}
.grid-row-2-12{
    grid-row: 2/12;
}
.grid-row-2-13{
    grid-row: 2/13;
}

.grid-row-3-5{
    grid-row: 3/5;
}
.grid-row-3-6{
    grid-row: 3/6;
}
.grid-row-3-7{
    grid-row: 3/7;
}
.grid-row-3-8{
    grid-row: 3/8;
}
.grid-row-3-9{
    grid-row: 3/9;
}
.grid-row-3-10{
    grid-row: 3/10;
}
.grid-row-3-11{
    grid-row: 3/11;
}
.grid-row-3-12{
    grid-row: 3/12;
}
.grid-row-3-13{
    grid-row: 3/13;
}

.grid-row-3-5{
    grid-row: 3/5;
}
.grid-row-3-6{
    grid-row: 3/6;
}
.grid-row-3-7{
    grid-row: 3/7;
}
.grid-row-3-8{
    grid-row: 3/8;
}
.grid-row-3-9{
    grid-row: 3/9;
}
.grid-row-3-10{
    grid-row: 3/10;
}
.grid-row-3-11{
    grid-row: 3/11;
}
.grid-row-3-12{
    grid-row: 3/12;
}
.grid-row-3-13{
    grid-row: 3/13;
}

.grid-row-4-6{
    grid-row: 4/6;
}
.grid-row-4-7{
    grid-row: 4/7;
}
.grid-row-4-8{
    grid-row: 4/8;
}
.grid-row-4-9{
    grid-row: 4/9;
}
.grid-row-4-10{
    grid-row: 4/10;
}
.grid-row-4-11{
    grid-row: 4/11;
}
.grid-row-4-12{
    grid-row: 4/12;
}
.grid-row-4-13{
    grid-row: 4/13;
}
.grid-row-5-7{
    grid-row: 5/7;
}
.grid-row-5-8{
    grid-row: 5/8;
}
.grid-row-5-9{
    grid-row: 5/9;
}
.grid-row-5-10{
    grid-row: 5/10;
}
.grid-row-5-11{
    grid-row: 5/11;
}
.grid-row-5-12{
    grid-row: 5/12;
}
.grid-row-5-13{
    grid-row: 5/13;
}

.grid-row-6-8{
    grid-row: 6/8;
}
.grid-row-6-9{
    grid-row: 6/9;
}
.grid-row-6-10{
    grid-row: 6/10;
}
.grid-row-6-11{
    grid-row: 6/11;
}
.grid-row-6-12{
    grid-row: 6/12;
}
.grid-row-6-13{
    grid-row: 6/13;
}
.grid-row-7-9{
    grid-row: 7/9;
}
.grid-row-7-10{
    grid-row: 7/10;
}
.grid-row-7-11{
    grid-row: 7/11;
}
.grid-row-7-12{
    grid-row: 7/12;
}
.grid-row-7-13{
    grid-row: 7/13;
}
.grid-row-8-10{
    grid-row: 8/10;
}
.grid-row-8-11{
    grid-row: 8/11;
}
.grid-row-8-12{
    grid-row: 8/12;
}
.grid-row-8-13{
    grid-row: 8/13;
}
.grid-row-9-10{
    grid-row: 9/10;
}
.grid-row-9-11{
    grid-row: 9/11;
}
.grid-row-9-12{
    grid-row: 9/12;
}
.grid-row-9-13{
    grid-row: 9/13;
}
.grid-row-9-11{
    grid-row: 9/11;
}
.grid-row-9-12{
    grid-row: 9/12;
}
.grid-row-9-13{
    grid-row: 9/13;
}
.grid-row-10-12{
    grid-row: 10/12;
}
.grid-row-10-13{
    grid-row: 10/13;
}
.grid-row-11-13{
    grid-row: 11/13;
}
/*Grid Gap*/
.grid-gap-1{
    grid-gap:10px;
}
.grid-gap-2{
    grid-gap:20px;
}
.grid-gap-3{
    grid-gap:30px;
}
.grid-gap-4{
    grid-gap:40px;
}
.grid-gap-5{
    grid-gap:50px;
}
.grid-gap-6{
    grid-gap:60px;
}
.grid-gap-7{
    grid-gap:70px;
}
.grid-gap-8{
    grid-gap:80px;
}
.grid-gap-9{
    grid-gap:90px;
}
.grid-gap-10{
    grid-gap:100px;
}
.grid-gap-11{
    grid-gap:110px;
}
.grid-gap-12{
    grid-gap:120px;
}
/* --------------------------------------------------
-----------------------------------------------------
                    FLEXBOX
-----------------------------------------------------
-------------------------------------------------- */
.flex-dir-row{
    flex-direction: row;
}
.flex-dir-row-reverse{
    flex-direction: row-reverse;
}
.flex-dir-col{
    flex-direction: column;
}
.flex-dir-col-reverse{
    flex-direction: column-reverse;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}
.flex-flow-row-nowrap{
    flex-flow: row nowrap;
}
.flex-flow-row-wrap{
    flex-flow: row wrap;
}
.flex-flow-col-nowrap{
    flex-flow: column nowrap;
}
.flex-j-start{
    justify-content: flex-start;
}
.flex-j-end{
    justify-content: flex-end;
}
.flex-j-center{
    justify-content: center;
}
.flex-j-between{
    justify-content: space-between;
}
.flex-j-around{
    justify-content: space-around;
}
.flex-a-stretch{
    align-items: stretch;
}
.flex-a-start{
    align-items: flex-start;
}
.flex-a-end{
    align-items: flex-end;
}
.flex-a-center{
    align-items: center;
}
.flex-a-baseline{
    align-items: baseline;
}
.flex-a-between{
    align-items:space-between;
}
.flex-a-around{
    align-items:space-around;
}
.flex-a-cont-stretch{
    align-content: stretch;
}
.flex-a-cont-start{
    align-content: flex-start;
}
.flex-a-cont-end{
    align-content: flex-end;
}
.flex-a-cont-center{
    align-content: center;
}
.flex-a-cont-between{
    align-content: space-between;
}
.flex-a-cont-sround{
    align-content: space-around;
}
.flex-grow-0{
    flex-grow: 0;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.flex-grow-3{
    flex-grow: 3;
}
.flex-grow-4{
    flex-grow: 4;
}
.flex-grow-5{
    flex-grow: 5;
}
.flex-grow-6{
    flex-grow: 6;
}
.flex-grow-7{
    flex-grow: 7;
}
.flex-grow-8{
    flex-grow: 8;
}
.flex-grow-9{
    flex-grow: 9;
}
.flex-grow-10{
    flex-grow: 10;
}
.flex-grow-11{
    flex-grow: 11;
}
.flex-grow-12{
    flex-grow: 12;
}
.flex-basis-0{
    flex-basis: 0;
}
.flex-basis-1{
    flex-basis: 1;
}
.flex-basis-auto{
    flex-basis: auto;
}
.flex-basis-1{
    flex-basis: 10px;
}
.flex-basis-2{
    flex-basis: 20px;
}
.flex-basis-3{
    flex-basis: 30px;
}
.flex-basis-4{
    flex-basis: 40px;
}
.flex-basis-5{
    flex-basis: 50px;
}
.flex-basis-6{
    flex-basis: 60px;
}
.flex-basis-7{
    flex-basis: 70px;
}
.flex-basis-8{
    flex-basis: 80px;
}
.flex-basis-9{
    flex-basis: 90px;
}
.flex-basis-10{
    flex-basis: 100px;
}
.flex-basis-11{
    flex-basis: 110px;
}
.flex-basis-12{
    flex-basis: 120px;
}
.flex-shrink-0{
    flex-shrink: 0;
}
.flex-shrink-1{
    flex-shrink: 1;
}
.flex-shrink-2{
    flex-shrink: 2;
}
.flex-shrink-3{
    flex-shrink: 3;
}
.flex-shrink-4{
    flex-shrink: 4;
}
.flex-shrink-5{
    flex-shrink: 5;
}
.flex-shrink-6{
    flex-shrink: 6;
}
.flex-shrink-7{
    flex-shrink: 7;
}
.flex-shrink-8{
    flex-shrink: 8;
}
.flex-shrink-9{
    flex-shrink: 9;
}
.flex-shrink-10{
    flex-shrink: 10;
}
.flex-shrink-11{
    flex-shrink: 11;
}
.flex-shrink-12{
    flex-shrink: 12;
}
.flex-a-self-auto{
    align-self: auto;
}
.flex-a-self-start{
    align-self: flex-start;
}
.flex-a-self-end{
    align-self: flex-end;
}
.flex-a-self-center{
    align-self: center;
}
.flex-a-self-baseline{
    align-self: baseline;
}
.flex-a-self-stretch{
    align-self: stretch;
}
.order-1{
    order:1;
}
.order-2{
    order:2;
}
.order-3{
    order:3;
}
.order-4{
    order:4;
}
.order-5{
    order:5;
}
.order-6{
    order:6;
}
.order-7{
    order:7;
}
.order-8{
    order:8;
}
.order-9{
    order:9;
}
.order-10{
    order:10;
}
.order-11{
    order:11;
}
.order-12{
    order:12;
}

/* Positions */
.absolute{
    position: absolute;
}
.static{
    position: static;
}
.sticky{
    position: sticky;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}