.icons_info img{
	height:40px;
}
.imgs_devices{
	position: relative;
}
.imgs_devices img{
	max-height:150px;
	width:auto;
}
.container_home .content_hero_1{
	padding:20px 10px;
}
.container_home .content_hero_1 h2{
	text-align:center;
	font-size:3em;
	line-height: 1em;
	text-transform: uppercase;
	font-family: var(--mainfont);
}
.container_home .content_hero_1 h3{
	text-align:center;
	font-size:1.4em;
	line-height: 1em;
	text-transform: uppercase;
	font-family: var(--primaryfont);
	color:var(--h3color);
}
@keyframes anima_bloco_1{
	15%{
		transform: translateX(-300px);
		opacity: 0;
	}
	25%{
		transform: translateX(5px);
		opacity: 1;
	}
	30%{
		transform: translateX(0) scale(.9,1);
		opacity: 1;
	}
	35%{
		transform: translateX(0) scale(1,1);
		opacity: 1;
	}
	75%{
		transform: translateX(0);
		opacity: 1;
	}
}
.blocos{
	width:250px;
	margin: 0 auto 20px;
}

.lig{
	width:50px;
	height:50px;
	animation: anima_bloco_1 10s infinite;
	opacity: 0;
	transform: translateX(300px);
	transform-origin: left;
}
.lig:nth-child(1){
	animation-delay: 2s;
}
.lig:nth-child(2){
	animation-delay: 1.5s;
}
.lig:nth-child(3){
	animation-delay: 1s;
}
.lig:nth-child(4){
	animation-delay: .5s;
}
.lig:nth-child(5){
	
}
.lig:nth-child(6){
	animation-delay: 2.25s;
}
.lig:nth-child(7){
	animation-delay: 1.75s;
}
.lig:nth-child(8){
	animation-delay: 1.25s;
}
.lig:nth-child(9){
	animation-delay: .75s;
}
.lig:nth-child(10){
	animation-delay: 0.25s;
}
.lig:nth-child(odd){
	background:#ee7a80;

}
.lig:nth-child(even){
	background: #744247;
}
.info_hero{
	margin-bottom: 20px
}
.info_hero p{
	color:var(--textcolor);
	font-size:var(--textfontsize);
	padding:10px;
	font-weight: 500;
	text-align: center;
}
.icons_info{
	padding:20px 0;
}
.icons_info h4{
	font-weight: 700;
	text-transform: uppercase;
	color:var();
}
.grid_system{
	padding:20px 0;
}
.grid_system h2{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -1px;
	font-size:1.5em;
	font-weight: 900;
	margin-bottom: 10px;
	margin-left: 20px;
}
.gs_responsivo,
.the_grid{
	padding:20px 10px;
}
.the_grid h4{
	text-align: center;
	font-size: 1em;
	padding: 10px 0;
}
.item_s{
	border:1px solid #424242;
	height:100px;
}
.item_s:nth-child(odd){
	background:var(--h2color);
	color:#fff;
	font-weight: 700;
}
.item_s:nth-child(even){
	background:var(--h3color);
	color:#fff;
	font-weight: 700;
}
.title_responsive,
.the_grid h3{
	padding:40px 0 0;
	margin-bottom:10px;
}
.title_responsive{
	padding:20px 0 0;
	margin-bottom:10px;
}
.container_main{
	margin-top:20px;
	height:200px;
	padding:50px 10px 10px;
	border:1px solid var(--h3color);
	position: relative;
}
.container_container{
	height:140px;
	border:1px solid var(--h3color);
	position: relative;
	padding: 10px;
}
.items{
	height:80px;
	border:1px solid var(--h3color);
	position: relative;
	margin:30px 3px 0;
}
.title_container_container,
.container_main .title_main{
	position: absolute;
	top:-15px;
	left:10px;
	padding:0 10px;
	background: #fff;
	color:var(--h2color);
}
.title_items{
	font-size:0.8em;
	position: absolute;
	top:-12px;
	left:10px;
	padding:0 10px;
	background: #fff;
	color:var(--h2color);
}
.info_gs{
	color:var(--textcolor);
	font-weight: 500;
}
.alert{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:20px 0;
}
.icon_alert{
	border:2px solid var(--h2color);
	width:25px;
	height:25px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:100%;
	color:var(--h2color);
	font-weight: 900;
	background:#fff;
	position: relative;
	z-index: 9;
}
.alert p{
	width:calc(100% - 25px);
	border:1px solid var(--h2color);
	padding:2% 2% 2% 25px;
	margin-left: -12px;
	color:var(--h2color);;
}
.alert p a{
	padding:5px 10px;
	background:var(--h2color);
	color:#fff;
	text-decoration:none;
	transition: 0.3s;
	font-size: 0.7em;
}
.alert p em{
	color:var(--h3color);
}
.alert i{
	width:25px;
}
.alert p a:hover{
	background:var(--h3color);
}
.text_main{
	margin-left:10px;
	position: relative;
	color:var(--h2color);
	font-weight: 700;
	width:50px;
	border-bottom:2px solid var(--h2color);
}

.text_con{
	margin-left:50px;
	margin-top:-2px;
	position: relative;
	color:var(--h2color);
	font-weight: 700;
	width:40px;
	border-bottom:2px solid var(--h2color);
}
.text_item{
	margin-left:85px;
	margin-top:-2px;
	position: relative;
	color:var(--h2color);
	font-weight: 700;
}
.text_item:before,
.text_con:before{
	content:"";
	position: absolute;
	width:10px;
	height:10px;
	left:-15px;
	top:1px;
	display: inline-block;
	border-left: 2px solid var(--h2color);
	border-bottom: 2px solid var(--h2color);
}
.text_item:before{
	top:2px;
	left:-15px;
}
.text_item span{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-left:2px solid var(--h2color);
	padding-left:5px;
}
.imgs_devices_con{
	padding:50px 0;
}
.btn_documentation{
	height:50px;
}
.btn_documentation a{
	height:40px;
	color:#fff;
	text-decoration: none;
	font-weight: 700;
	width:200px;
	opacity: 0.9;
	transition: 0.3s;
}
.btn_documentation a:hover{
	transform: scale(1.1,1.1);
	opacity: 1;
}
.btn_documentation a:focus{
	transform: scale(0.9,0.9);
	opacity: .9;
}
.btn_documentation a:first-child{
	background: var(--h2color);
}
.btn_documentation a:last-child{
	background: var(--h3color);
}