/* --- root --- */
/*Fonts Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root{
	/*Colors*/
		--primarycolor:#424242;
		--secondarycolor:#ddd;
		--maincolor:#414141;
		--bordercolor:#ccc;
		--boxshadowcolor:#00000030;
		--bgdarkcolor:#111111;
		--bglightcolor:#fff;
		--textcolor:#424242;
		--h1color:#111111;
		--h2color:#111111;
		--h3color:#111111;
		--h4color:#111111;
		--h5color:#111111;
		--h6color:#111111;
	/*Font Sizes */
		--fonttextsize:16px;
		--fonth1size:40px;
		--fonth2size:35px;
		--fonth3size:30px;
		--fonth4size:25px;
		--fonth5size:20px;
		--fonth6size:18px;
	/* Font Families */
		--primaryfont:'Open Sans';
		--secondaryfont:'Open Sans';
		--mainfont:'Open Sans';
}



/*--- Navgation ----*/
.navgation{
	width:100%;
	padding:5px;
}
body{
	font-size: var(--fonttextsize);
	color:var(--textcolor);
	background:var(--bglightcolor);
	font-family: var(--primaryfont);
	overflow-x: hidden;
}
h1{
	color:var(--h1color);
	font-size:var(--fonth1size);
	line-height: 1em;
}
h2{
	color:var(--h2color);
	font-size:var(--fonth2size);
}
h3{
	color:var(--h3color);
	font-size:var(--fonth3size);
}
h4{
	color:var(--h4color);
	font-size:var(--fonth4size);
}
h5{
	color:var(--h5color);
	font-size:var(--fonth5size);
}
h6{
	color:var(--h6color);
	font-size:var(--fonth6size);
}
img{
	max-width:100%;
}
[data-font="main-font"]{
	font-family: var(--mainfont);
}
[data-font="primary-font"]{
	font-family: var(--primaryfont);
}

[data-font="secondary-font"]{
	font-family: var(--secondaryfont);
}
[data-color="primary-color"]{
	color:var(--primarycolor);
}
[data-color="secondary-color"]{
	color:var(--secondarycolor);
}
[data-color="main-color"]{
	color:var(--maincolor);
}

/*------ Components --------*/
/*-- Navbar --*/
.navbar{

}
.nav-1{
	height:50px;
	position: absolute;
	padding:0 5%;
	left:0;
	box-shadow: 0 2px 4px var(--boxshadowcolor);
	width:100vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 99;
}
.navbar .brand{
	height:100%;
	position: relative;
	order:2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin:0 10px;
	position: relative;
}
.navbar .brand img{
	height:70%;
	display: block;
	margin:0 5px;
}
.navbar .brand h1{
	font-size:18px;
	letter-spacing: -1px;
	font-weight: 800;
	text-transform: uppercase;
	position: relative;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navbar .toggle-1{
	width:25px;
	height:20px;
	position: relative;
	cursor: pointer;
	z-index:9999;
	display: flex;
	align-items: center;
}
.navbar .toggle-1 .line{
	height:4px;
	background:var(--primarycolor);
	border-radius:2px;
	transition: 0.3s;
	display: block;
	width: 100%;
}
.navbar .toggle-1 .line:before,
.navbar .toggle-1 .line:after{
	content:"";
	display: block;
	position: absolute;
	height:4px;
	background:var(--primarycolor);
	width:100%;
	border-radius:2px;
	transition: 0.3s;
}
.navbar .toggle-1 .line:before{
	top:0;
}
.navbar .nav-1 .menu{
	order:2;
}
.navbar .toggle-1 .line:after{
	bottom:0;
}
[data-bg]{
	background: #fff;
	top:0;
	left:0;
	z-index:999;
	box-shadow: 0 4px 8px var(--boxshadowcolor);
}
.menu-nav-1 {
	background:var(--secondarycolor);
	list-style: none;
	top:0;
	transition: 0.3s;
	width:90vw;
	height:10vh;
	position: absolute;
	padding:60px 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height:100vh;
	z-index: 999;
	left:-101%;
}
.menu-nav-1.nav-right{
	right:-101%;
	left:auto;
}
.menu-nav-1.nav-top{
	top:-101vh;
	width:100vw;
	left:0;
	z-index: 8;
}
.menu-nav-1 li{
	height:35px;
	width:90%;
	margin:2px auto;
	background: var(--primarycolor);
}
.menu-nav-1 li a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	text-decoration: none;
	color: #fff;
}
/*Toggle*/
.toggle-1-show .line{
	transform: rotate(45deg);
}
.toggle-1-show .line:before{
	transform: rotate(90deg);
}
.menu-nav-1-show{
	left:0;
}
.menu-nav-1-show.nav-right{
	right:0;
}
.menu-nav-1-show.nav-top{
	top:0;
}
@media (min-width:768px){
	.nav-1{
		justify-content: space-between;
	}
	.nav-1 .menu{
		order:2;
		width:70%;
	}
	.navbar .brand{
		order:1;
		width:30%;
	}
	.navbar .toggle-1{
		display: none;
	}
	.menu-nav-1 {
		position: static;
		flex-direction: row;
		background: transparent;
		justify-content: flex-start;
		padding:0;
		height:auto;
		width:auto;
	}
	.menu-nav-1 li{
		background: transparent;
		width:auto;
		margin:0 5px;
	}
	.menu-nav-1 li a{
		color:var(--primarycolor);
		opacity: 0.8;
		transition: 0.3s;
	}
	.menu-nav-1 li a:hover{
		opacity: 1;
	}
}