@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#424242;
}
header{
    height:50px;
    width: 100vw;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    position: fixed;
    z-index: 99;
}
.header{
    position: relative;
}
.menu_toggle{
    width:30px;
    height:30px;
    position: relative;
}
.menu_toggle span{
    display: block;
    width:100%;
    height:4px;
    transition: 0.3s;
    background: #c93b0c;
    margin:5px 0;
    cursor: pointer;
}
.menu_toggle_show{
    width:30px;
    height:30px;
}
.menu_toggle_show span{
    display: block;
    width:100%;
    height:4px;
    transform: rotate(45deg);
    background: #c93b0c;
    margin:5px 0;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top:10px;
}
.menu_toggle_show span:first-child{
    transform: rotate(130deg);
}
.menu_toggle_show span:last-child{
    display: none;
}

.menu{
    position: fixed;
    width:100%;
    height:auto;
    overflow-y: scroll;
    background:#fff;
    left:0;
    top:-101%;
    padding:50px 10px 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,.5);
    z-index: 98;
    transition: 0.3s;
}
.menu_show{
    top:10px;
}
.menu ul{
    list-style: none;
}
.menu .item_link{
    background:#F6E37D;
    color:#c93b0c;
    font-weight: 700;
    cursor: pointer;
}
.menu .item_sub_menu{
    border:1px solid #c93b0c;
    
}
.menu .item_sub_menu a{
    color:#c93b0c;
    text-decoration: none;
    font-weight: 700;
}
.menu .item_link:after{
    content:"+";
    grid-column:2;
    grid-row:1;
}
.menu .item_close:after{
    content:"-";
    grid-column:2;
    grid-row:1;
}
.sub_menu{
    display: none;
}
.sub_menu_show{
    display:block;
}
.title_site{
    text-align:center;
    line-height: 25px;
    font-size:1em;
    text-transform: uppercase;
    color:#c93b0c;
    font-weight: 800;
    letter-spacing: -1px;
    border-bottom:1px solid #c93b0c;
}
.title_content{
    line-height: 25px;
    padding: 10px;
    text-transform: uppercase;
    color:#c93b0c;
    font-weight: 800;
    letter-spacing: -1px;
    border-bottom:1px solid #c93b0c; 
}
.content,.the_grid,.responsive{
    padding-top:50px;
}
.alert-1{
    padding:2%;
    margin:10px 0;
    background:#F6E37D;
    border-left:2px solid #E8C500;
    font-weight: 500;
    color:#A46F08;
}
.item{
    padding:5px;
    background:#c93b0c;
    border:1px solid #F6E37D;
    text-align: center;
    color:#F6E37D;
}
.code{
    padding:5px;
    background:#F6E37D;
    color:#c93b0c;
    font-weight: 700;
}
.separator{
    width:100%;
    height:20px;
    margin:10px 0;
}
.separator span{
    width:10px;
    height:10px;
    background:#c93b0c;
    border-radius:100%;
    margin:10px;
    display: block;

}
.cont,.lin{
    border:1px solid #c93b0c;
    margin:20px 0 10px;
    position: relative;
    padding: 10px;
}
.title_cont,.title_lin{
    position: absolute;
    background: #fff;
    color:#c93b0c;
    font-size: 1em;
    font-weight: 700;
    top:-20px;
    left:10px;
    padding:10px;
}
.colunas{
    margin:20px 5px 5px;
    border:1px solid #c93b0c;
    color:#c93b0c;
    padding: 10px;
    width:48%;
}
.title_h3{
    text-transform: uppercase;
    color:#c93b0c;
    font-weight: 700;
    padding:10px 0;
}
.tam_responsive{
    border:1px solid #c93b0c;
    color:#c93b0c;
}
.tam_responsive div{
    padding:10px;
    border:1px solid #c93b0c;
    text-align: center;
}
.tam_responsive_title{
    border:1px solid #c93b0c;
    background:  #c93b0c;
    color:#F6E37D;
}
.tam_responsive_title div{
    padding:10px;
    border-right:1px solid #F6E37D;
    text-align: center;
}
.tam_responsive_title div:last-child{
    border:none;
}
.list_items{
    list-style: none;
    padding:20px 0;
    font-weight: 700;
}
.list_items li{
    background: #F6E37D;
    padding: 10px;
    margin:10px;
    text-align: center;
    border-top: 2px solid #c93b0c;
}
.list_items em{
    color:#807878
}
.list_items span{
    color:#c93b0c;
    display: block;
}
.title_h4{
    text-transform: uppercase;
    border-bottom:1px solid #424242;
    margin: 20px 0 10px;
}
.button{
    width:200px;
    height:40px;
    background: #c93b0c;
    transition: 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,.5);
}
.button a{
    text-decoration: none;
    color:#fff;
}
.button:hover{
    background: #c93b0c98;
}