.brand-1{
	text-transform: uppercase;
	letter-spacing: -1px;
}
.hero{
	height:auto;
	position: relative;

}
.title_hero{
	font-weight: 800;
	font-family:var(--primaryfont);
	text-transform: uppercase;
	letter-spacing: -1px;
	color:var(--maincolor);
}
.title_hero span{
	color:var(--primarycolor);
}
.item_hero p{
	font-size:1.4em;
	line-height: 1.2em;
}